
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Tomar Horarios</title>

    <!-- Custom styles for this template -->
    <!-- <link href="cover.css" rel="stylesheet"> -->

  </head>

  <body>
    <section id="header">
      <div class="container" id="header">
        <div class="row">
          <div class="col md-3">Hola</div>
        </div>
      </div>
    </section>
    <section id="cards">
      <div class="container" id="body">
        <div class="row" id="fila-1">
          <div class="col-md-2">
            <div id="card">
              <div class="front">
                <div class="profile text-center">
                  <div class="profile-head">
                    <a href="#"><span> </span></a>
                  </div>
                  <div class="profile-info">
                    <h2><a href="#">John Doe</a></h2>
                    <span>Web Design | Cluj Napoca</span>
                    <a href="#" class="btn btn-primary" id="flip-btn-inc">Inscribirme</a>
                  </div>
                </div>
               </div>
               <div class="back" >
                <div class="profile text-center" >
                  <div class="profile-info">
                    <input class="form-control" type="text">Nombre
                    <input class="form-control" type="text">Apellido
                    <input class="form-control" type="text">Email <br><br><br>
                    <a href="#" class="btn btn-primary" id="flip-btn-grd">Guardar</a>
                  </div>
                </div>
               </div> 
             </div> 
          </div>
          <div class="col-md-2">
            <div class="profile text-center">
              <div class="profile-head">
                <a href="#"><span> </span></a>
              </div>
              <div class="profile-info">
                <h2><a href="#">John Doe</a></h2>
                <span>Web Design | Cluj Napoca</span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="profile text-center">
              <div class="profile-head">
                <a href="#"><span> </span></a>
              </div>
              <div class="profile-info">
                <h2><a href="#">John Doe</a></h2>
                <span>Web Design | Cluj Napoca</span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="profile text-center">
              <div class="profile-head">
                <a href="#"><span> </span></a>
              </div>
              <div class="profile-info">
                <h2><a href="#">John Doe</a></h2>
                <span>Web Design | Cluj Napoca</span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="profile text-center">
              <div class="profile-head">
                <a href="#"><span> </span></a>
              </div>
              <div class="profile-info">
                <h2><a href="#">John Doe</a></h2>
                <span>Web Design | Cluj Napoca</span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="profile text-center">
              <div class="profile-head">
                <a href="#"><span> </span></a>
              </div>
              <div class="profile-info">
                <h2><a href="#">John Doe</a></h2>
                <span>Web Design | Cluj Napoca</span>
              </div>
            </div>
          </div> 
        </div>

        <div class="row" id="fila-2">
          <div class="col-md-2">
            <div class="profile text-center">
              <div class="profile-head">
                <a href="#"><span> </span></a>
              </div>
              <div class="profile-info">
                <h2><a href="#">John Doe</a></h2>
                <span>Web Design | Cluj Napoca</span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="profile text-center">
              <div class="profile-head">
                <a href="#"><span> </span></a>
              </div>
              <div class="profile-info">
                <h2><a href="#">John Doe</a></h2>
                <span>Web Design | Cluj Napoca</span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="profile text-center">
              <div class="profile-head">
                <a href="#"><span> </span></a>
              </div>
              <div class="profile-info">
                <h2><a href="#">John Doe</a></h2>
                <span>Web Design | Cluj Napoca</span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="profile text-center">
              <div class="profile-head">
                <a href="#"><span> </span></a>
              </div>
              <div class="profile-info">
                <h2><a href="#">John Doe</a></h2>
                <span>Web Design | Cluj Napoca</span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="profile text-center">
              <div class="profile-head">
                <a href="#"><span> </span></a>
              </div>
              <div class="profile-info">
                <h2><a href="#">John Doe</a></h2>
                <span>Web Design | Cluj Napoca</span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="profile text-center">
              <div class="profile-head">
                <a href="#"><span> </span></a>
              </div>
              <div class="profile-info">
                <h2><a href="#">John Doe</a></h2>
                <span>Web Design | Cluj Napoca</span>
              </div>
            </div>
          </div> 
        </div>

        <div class="row" id="fila-3">
          <div class="col-md-2">
            <div class="profile text-center">
              <div class="profile-head">
                <a href="#"><span> </span></a>
              </div>
              <div class="profile-info">
                <h2><a href="#">John Doe</a></h2>
                <span>Web Design | Cluj Napoca</span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="profile text-center">
              <div class="profile-head">
                <a href="#"><span> </span></a>
              </div>
              <div class="profile-info">
                <h2><a href="#">John Doe</a></h2>
                <span>Web Design | Cluj Napoca</span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="profile text-center">
              <div class="profile-head">
                <a href="#"><span> </span></a>
              </div>
              <div class="profile-info">
                <h2><a href="#">John Doe</a></h2>
                <span>Web Design | Cluj Napoca</span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="profile text-center">
              <div class="profile-head">
                <a href="#"><span> </span></a>
              </div>
              <div class="profile-info">
                <h2><a href="#">John Doe</a></h2>
                <span>Web Design | Cluj Napoca</span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="profile text-center">
              <div class="profile-head">
                <a href="#"><span> </span></a>
              </div>
              <div class="profile-info">
                <h2><a href="#">John Doe</a></h2>
                <span>Web Design | Cluj Napoca</span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="profile text-center">
              <div class="profile-head">
                <a href="#"><span> </span></a>
              </div>
              <div class="profile-info">
                <h2><a href="#">John Doe</a></h2>
                <span>Web Design | Cluj Napoca</span>
              </div>
            </div>
          </div> 
        </div>



        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
        </div>
      </div>
    </section>
  </body>
</html>
